-# %h1 Users#index
-# %p Find me in app/views/users/index.html.haml

= render "devise/shared/header"
-# = render "rooms/room_index"
.wrapper
  .body
    - if user_signed_in?
      .index__user-name
        - @users.each do |u|
          %a{href: "/users/#{u.id}"}
            = u.name
    - else
      = link_to "ユーザーを登録する", new_user_registration_path
      %br/
      = link_to "ログインする", new_user_session_path