-# %h1 Users#show
-# %p Find me in app/views/users/show.html.haml
= render "devise/shared/header"
.user-contents
  .user-page
    .user-page__image
      = image_tag "icon-red.png", size: "180x180", alt: "user-image"
    .user-page__info
      .user-page__name
        = @user.name
      .user-page__follow
        %p.user-page__follow__moji
          Follow
        %p.user-page__follow__count
          32
      .user-page__follower
        %p.user-page__follower__moji
          Follower
        %p.user-page__follower__count
          86.7k
      - if @user.id == current_user.id
        .current-user
          .user-page__edit
            = link_to "編集", edit_user_registration_path
          .user-page__log-out
            = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        - if @isRoom == true
          .frend-user
            .follow-btn
              = link_to "フォロー"
            .message-sender
              %a{href: "/rooms/#{@roomId}"}DM
        - else
          .frend-user
            .follow-btn
              = link_to "フォロー"
            = form_for @room do |f|
              = fields_for @entry do |e|
                = e.hidden_field :user_id, value: @user.id
              = f.submit "DM", class: 'message-start', data: { confirm: "DMを開始しますか？" }
    .user-post__card