
= render "devise/shared/header"
.dm-main
  .dm-members
    .dm-members__lists
      .dm-members__list
        - @entries.each do |e|
          %a{href: "/users/#{e.user.id}"}
            = e.user.name
      .dm-members__moji
        %p さんとのダイレクトメッセージ
  .messages
    - if @messages.present?
      - @messages.each do |m|
        - if m.user_id == current_user.id
          .current-user__message
            .current-user__message__content
              = m.content
            .current-user__message__time
              = m.created_at.strftime("%Y/%m/%d %H:%M")
            -# %p.current-user__message__user
            -#   = m.user.name
        - else
          .frend-user__message
            .frend-user__message__content
              = m.content
            .frend-user__message__time
              = m.created_at.strftime("%Y/%m/%d %H:%M")
            %a.frend-user__message__user{href: "/users/#{m.user_id}"}
              = m.user.name
    - else
      %h3.text-center メッセージはまだありません
  .dm-footer
    = form_for @message do |f|
      .dm-footer__input
        = f.text_field :content, class: 'dm-footer__input__text', placeholder: 'メッセージを入力して下さい'
        = f.hidden_field :room_id, value: @room.id
        = f.label :image, class: 'dm-footer__input__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit '送信', class: 'dm-footer__input__submit-btn'